/* The navbar container */
.nav {
    overflow: hidden;
    background-color:rgb(0, 255, 0);
  }
  
  /* Navbar links */
  .nav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Links - change color on hover */
  .nav a:hover {
    background-color: #ddd;
    color: black;
  }

  .app
  {
    background-color: black;
  }